@import "tailwindcss";

@theme {
  --color-homezy-primary: #004742;
  --color-homezy-secondary: #efede3;
  --color-homezy-accent: #dddbd4;
  --color-homezy-cream: #f9f9f9;
  --color-homezy-sand: #e8e4df;
  --color-homezy-white: #ffffff;
  --color-homezy-muted: #6b6b6b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-homezy-cream);
  color: var(--color-homezy-primary);
}